.chat__rooms {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    border-right: 1px solid #e9e9e3;
  }
  
  .chat__rooms .user {
    transition: 0.3s ease-out;
    width: 100%;
  }
  .chat__rooms .user:hover {
    transition: 0.3s ease-in;
    background-color: rgb(236, 233, 233);
  }
  .chat__rooms .user .info {
    display: flex;
    flex-direction: row;
    place-content: flex-start;
    padding: 10px;
    border-bottom: 1px solid rgba(88, 88, 88, 0.06);
  }
  .chat__rooms .user a {
    text-decoration: none;
    color: #1c1e21;
  }
  .chat__rooms .user .info .avatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .chat__rooms .user .info .content {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 5px 15px;
  }
  .chat__rooms .user .info .content .unknown__class {
    flex: 1;
  }
  
  .chat__rooms .user .info .content .name {
    font-size: large;
  }
  .chat__rooms .user .info .content .message {
    font-size: smaller;
  }
  .chat__rooms .user .info .notification {
    display: flex;
    flex-direction: column;
    place-items: flex-end;
  }
  
  .chat__rooms .user .info .notification .count {
    background: #463261;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    font-size: smaller;
    line-height: 1.6;
  }
  