* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
.app {
  background-color: #e9e9e3;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}
.app__header {
  background: #463261;
  height: 222px;
  width: 100%;
  position: absolute;
  display: flex;
}

.intro__quote__div {
  width: 952px;
}
.intro__quote {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  vertical-align: middle;
}
.intro__quote__author {
  font-size: small;
}
.app__body {
  width: 65.5vw;
  height: 56vh;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19),
    0 12px 15px 0 rgba(0, 0, 0, 0.24);
  background-color: #fff;
  position: relative;
  border-radius: 3px;
  top: -40px;
}

.app__container {
  display: flex;
  height: 100%;
}

.app__rooms {
  background-color: #fff;
  position: relative;
  top: 0;
  right: 0;
  z-index: 9;
  overflow: hidden;
  width: 25vw;
}
.app__room_area {
  flex: 1;
  overflow: hidden;
}
.app__room_area .app__conversation {
  padding: 25px;
  height: 100%;
  background-color: #dddbd1;
  overflow-y: scroll;
}

.unknown__class_in_header {
  margin: 27px auto 28px;
  margin-bottom: 66px;
}
.chat__header .chat__header__content .title2 {
  display: block;
}

@media screen and (min-width: 1200px) {
  .app__body {
    height: 35vw;
    width: 62vw;
    top: 0;
  }
  .msg__container:last-child {
    margin-bottom: 5% !important;
  }
}
@media screen and (max-width: 992px) {
  .app {
    display: flow-root;
    overflow-x: hidden !important;
  }
  .app__header {
    display: none;
  }

  .app__body {
    height: 100% !important;
    width: 100vw !important;
    top: 0 !important;
    margin: auto;
  }
  .app__rooms {
    width: 100%;
  }
  .app__room_area {
    flex: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
  }
  .chat__header,
  .chat__rooms .user .info {
    padding: 50px 40px !important;
  }
  .chat__rooms .user .info {
    border-bottom: 1px solid rgb(88 88 88 / 19%);
  }
  .chat__header .avatar,
  .chat__rooms .user .info .avatar {
    width: 150px !important;
    height: 150px !important;
  }
  .chat__rooms .user .info .notification .count {
    width: 75px !important;
    height: 75px !important;
    font-size: xxx-large !important;
    line-height: 1.97;
  }
  .chat__rooms .user .info .avatar img {
    border-radius: 99px !important;
  }
  .chat__rooms .user .info .content .name {
    font-size: xxx-large !important;
  }
  .chat__header__menu .button {
    font-size: xxx-large !important;
  }
  .chat__rooms .user .info .notification {
    place-items: center !important;
    font-size: xx-large;
  }
  .chat__header .chat__header__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-width: 0;
  }
  .chat__header__content .title,
  .chat__header__content .title2 {
    font-size: 4em !important;

    line-height: 1.8 !important;
  }
  .app__room_area .app__conversation {
    padding: 40px;
  }
  .left {
    width: 75% !important;
  }
  .right {
    width: 75% !important;
  }
  .conversation__style__container {
    font-size: large !important;
  }
  .dropdown-content {
    width: 50vw !important;
  }
  dropdown-content li > a,
  .dropdown-content li > span {
    font-size: xxx-large !important;
    padding: 40px 0 !important;
  }
  .msg__container:last-child {
    margin-bottom: 25% !important;
  }
  .wip {
    font-size: xx-large !important;
  }
}

@media screen and (max-width: 600px) {
}
.app__room_area .app__conversation::-webkit-scrollbar {
  width: 3px;
}
.app__room_area .app__conversation::-webkit-scrollbar-track {
  background: #463260f0;
}
.bg___img {
  background: url(https://web.whatsapp.com/img/bg-chat-tile-light_686b98c9fdffef3f63127759e2057750.png);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.06;
  padding: 0;
}
.wip {
  color: green;
  font-size: smaller;
}
.chat__header .chat__header__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-width: 0;
}
.default__grid {
  display: grid;
  place-items: center;
  height: 50vh;
}
.default__image {
  width: 300px;
  height: 300px;
}
.default__image img {
  width: inherit;
  border-radius: 50%;
  height: -webkit-fill-available;
  object-fit: cover;
}
.default__title h1 {
  font-weight: 300;
  font-size: 36px;
}
